h2 { margin: 35px 0; }
.main .form-area fieldset.card-info .card { width: 90%; position: relative; overflow: hidden; height: auto;}
.sur { overflow: hidden; width: 100%; height: auto; position: relative; }
.main .form-area fieldset.card-info .card input
{
   width: 95%;
}

.main .form-area fieldset.card-info .card > .card-brand
{
	width: 180px;
	float: left;
	margin-top: 2px;
	margin-right: 15px;
	text-align: center;
}

.main .form-area fieldset.card-info .card  .card-number
{
	display: inline-block;
	width: auto!important;
	overflow: hidden;
	float: none;
}

.main .form-area fieldset.card-info .card   .card-cvc
{
	width: 75px;
	display: inline-block;
	margin-left: 15px;
	float: right;
}
.main .form-area fieldset.card-info .card  .question
{
    position: absolute;
	top: 8px;
	right: 8px;
}
.main .form-area fieldset.card-info .card > .exp-year
{
	float: right;
	width: 100px;
	margin-right: 15px;
}
.main .form-area fieldset.card-info .card > .exp-month
{
	float: right;
	width: 100px;
	margin-right: 15px;
}
.clearfix { display: table; clear: both; }
.main .form-area fieldset.card-info input[type=submit]
{
   float: right;
}

.zip { display: inline-block!important; width: 153px!important; }
.country { display: inline-block; width: 153px; margin-top: 2px; margin-left: 15px; }